* {        /*Configurações padrões de início de um projeto dentro do CSS  */
    padding: 0;            
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
      display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado) */
      align-items: center; /*Alinhar os itens do nosso Header para o centro*/
      justify-content: space-evenly; /* Tradução:justificar-conteúdo: espaço uniformemente. Alinhar os itens igualmente dentro da página */
      padding: 15px;  /* Cuida do Preenchimento */
      background-color: rgb(56, 49, 49); /* Cor de fundo do nosso Cabeçalho/Header */
      overflow: hidden; /* */
      line-height: 200px; /* altura da linha */
      max-height: 200px; /* altura máxima */
}

header > h1 {  /* Selecionamos aqui a cor da letra do nosso H1 ou seja, do nosso título */
    color: white; /* chamamos a propriedade color e definimos uma cor em questão */ 
    font-size: 45px;
}


header > img {  /* Aqui estamos chamando nossa imagem para ser atribuídas alterações*/
    width: 250px;  /* Largura da nossa imagem */
    height: 190px; /* Tamanho da nossa imagem */
}

#menu-header { /* Nosso menu de navegação*/
    display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado) */
    align-items: center; /* Alinhar os itens do nosso Header para o centro */
}

#list-menu {  /* Nossa lista não ordenada, aqui mudaremos diretamente nossa lista */
    display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado) */
    margin-right: 1rem; /* margem da direita. 1 REM equivale a 16px, ou seja podemos usa-lo para facilitar a inserção de PX*/
}

.item-menu-header { /* Nossas li que estão dentro do LIST MENU, onde se encontram os nomes dos itens apresentados no HEADER */
    margin-right: 25px; /* margem da direita */
}

.item-menu-header > a:hover { /* Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO, e o Hover responsável pela modificação de cor ao passar o cursor em cima.*/
    color: yellow; /* Aqui atribuimos uma cor */
    transition: 1s; /* E o tempo em que será exibido ao passar o cursor */
}

.item-menu-header > a { /* Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO */
    color: white; /* Cor das letras */
    text-decoration: none; /* Responsável por tirar o sublinhado inferior que estava visível */
    font-size: 12px; /* Tamanho da letra */
} 

#btn-header {   /*Nossa ID do Botão de Login */
    display: flex; /*  Resposável por colocar os itens na mesma linha (lado a lado) */
}

#btn-header > button { /* Aqui chamamos nossa ID e onde queremos fazer alterações, no caso o nosso BOTÃO (button)*/
    padding: 8px; /*  Cuida do Preenchimento */
    background-color: transparent; /* Aqui deixamos o fundo do Botão transparent, ou seja sem o fundo Branco que estava em primeiro plano */
    border: none; /* None é usado para retirar algo, nesse caso a borda. */ 
}

#btn-header > button > a { /* Estamos chamando aqui nossa TAG de Link para alteração. */ 
    display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado)  */
    align-items: center; /* Alinhar os itens para o centro */
}

#btn-header > button > a > img { /* Aqui estamos mexendo nO ICON do botão*/
    width: 30px; /* Largura */
    height: 30px; /* Tamanho */
    margin-right: 2px; /* margem da direita */
}

#btn-header > button > a { /* Estamos chamando aqui nossa TAG de Link para alteração (NOVAMENTE) */
    color: white; /*Cor da letra */
    text-decoration: none; /* Responsável por tirar o sublinhado que estava visível */
    font-weight: 400; /* espessura da fonte */
}



#img-destaque { /* Aqui chamamos a ID que chamamos no HTML*/
    padding: 260px;  /* Cuida do Preenchimento */
    background-image: url(imagem/padaria.webp); /* Usada para inserir imagens de fundo */
    background-position: center; /* Aqui posicionamos nossa imagem para o centro */
}


main > section > h2 {
    margin-top: 0px;
    font-size: 36;
    text-align: center;
    color: black;
}


#products {
    padding: 30px;
    background-color: ;
}

#products {  /* ID usada para a section dos nossos produtos */
    
    background-color: linear-gradient(180deg #d49664 8.33%, rgba)(244,200,175,0 100%) 175, 0() 100%;
    padding: 30px;

}

.section-products {
    margin-top: 3em;
    display: flex;
 align-items: center;
 justify-content: space-evenly;
}

.img-products {
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.title-products {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-evenly;

}

#products > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #00000000;
    display: flex;
    justify-content: center;
    text-align: center; 
}
  

#clients  {
    background-color: white;
    margin-top: 0;
    padding: 50px;
text-align: center;
display: flex;



}

#clients {
    background-color: white;
    margin-top: 0;
    margin-top: 50px;
}

#products > H2 {
    text-align: center; 
}

#products > a:hover {  /* Efeito ao passar o mouse */
    font-size: 22px; /* tamanho da letra */
    transition: 0.8s; /* tempo de transição ao passar o mouse */ 
    color: tomato; /* cor da letra ao passar o mouse */
}

#sobre-nos { /* chamamos nosso nós para estilização */
    background-image: url(imagem/fundo-sobre-nos.jpg); /* inserimos aqui */
    background-repeat: no-repeat; /* não repetição de imagem */
    background-position: center; /* posicionamento da imagem ao centro */
    background-size: cover; /* habilitando o tamanho total da imagem */
    background-attachment: fixed; /* deixando a imagem fizada */
    padding: 120px; /* tamanho do preenchimento da sessão */
}

/* h3, alterna a cor, tamanho alinhamento e familia de fonte */

#sobre-nos > h3 {
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#sobre-nos > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 22px;
    margin-top: 2em;
    text-align: left;
}


footer {
    padding: 80px;
    background-image: url(imagem/img-footer.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer h2 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.item-menu-footer { /* aqui chamamos nossa class das LI*/
    align-items: center; /* posicionamos ao centro */
    margin-top: 30px; /* espaçamento superior */
    display: flex; /* alinhando os itens lado a lador*/
}

.item-menu-footer img { /* aqui chamamos nossa IMG para estilização */
    width: 34px; /* largura da imagem */
    height: 34px; /* altura da imagem */
}

/* Chamem a TAG P para estilização */

.item-menu-footer p { 
    color: black; /* cor da letra */
    font-size: 24px; /* tamanho da letra */
    font-weight: bold; /* espressura da letra */
    margin-left: 10px; /* espaçamento a esquerda */
}